body {
  margin: 10px;
  box-sizing: border-box;
  background-image: url(images/pizza.jpg);
  background-repeat: repeat;
  font-family: "Imprima";
  text-transform: uppercase;
  text-align: center;
}

#description,
.form-group,
.main-pizza,
hr {
  margin: 10px auto;
  max-width: 1100px;
}

#description,
.form-group,
.main-pizza,
.submit-button {
  border-radius: 10px;
  border: 2px solid black;
}

#your-info,
#description,
.p-style {
  font-weight: bold;
}

#description,
.submit-button {
  background-color: rgba(245, 46, 46, 0.9);
}

/*==============================================================*/
/*========================HEADER STYLING========================*/

.main-pizza {
  background-color: rgb(28, 26, 34);
  background-image: url(images/image1.jpg);
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  color: whitesmoke;
  text-shadow: 2px 2px 2px rgb(245, 46, 46);
  letter-spacing: 2px;
  word-spacing: 3px;
}

/*==============================================================*/
/*====================DESCRIPTION STYLING=======================*/

#description {
  font-size: 18px;
  padding: 10px 0;
}

/*==============================================================*/
/*=========================FORM STYLING=========================*/

.form-group {
  padding: 20px;
  background-color: rgba(42, 148, 68, 0.9);
}

/*============YOUR INFO SECTION============*/

#name-label,
#email-label,
#number-label,
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 80%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  margin-bottom: 5px;
}

#your-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

/*=============DROPDOWN SECTION============*/

.p-style {
  margin: 0 0 15px;
  text-decoration: underline;
}

#dropdown {
  width: 200px;
  margin-bottom: 15px;
}

/*============CHECKBOX SECTION============*/

.checks {
  display: flex;
  align-items: center;
}

.topping {
  width: 40px;
  height: 20px;
  margin: 2px 5px 0 0;
}

#sausage,
#roni,
#onion,
#mush,
#pepper,
#olive,
#pine,
#jala {
  background-size: 100px;
  background-position: center;
}

#sausage {
  background-image: url(images/image2.jpg);
}

#roni {
  background-image: url(images/image3.jpg);
}

#onion {
  background-image: url(images/image5.jpg);
}

#mush {
  background-image: url(images/image4.jpg);
}

#pepper {
  background-image: url(images/image6.jpg);
}

#olive {
  background-image: url(images/image7.jpg);
}

#pine {
  background-image: url(images/image8.jpg);
}

#jala {
  background-image: url(images/image9.jpg);
}

/*============TEXT-AREA SECTION============*/

.input-textarea {
  width: 80%;
  min-height: 100px;
  resize: vertical;
}

/*============SUBMIT BTN SECTION===========*/

.submit-button {
  width: 150px;
  height: 60px;
  margin: 10px 0 40px;
  padding: 5px 10px;
  font-size: 28px;
  color: whitesmoke;
  border: rgba(245, 46, 46, 0.9);
}

.submit-button:hover {
  cursor: pointer;
  background-color: rgba(11, 78, 31, 0.9);
  border: 2px solid rgba(11, 78, 31, 0.9);
}

/*===============================================================*/
/*===========================HR STYLING==========================*/

hr {
  border: 2px solid rgb(201, 36, 36);
}

/*==================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 460 PX==================*/

@media screen and (min-width: 460px) {
  .main-pizza {
    background-size: 500px;
  }

  #dropdown {
    width: 300px;
  }

  .tops {
    width: 180px;
    margin: 0 auto;
  }
}

/*==================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 600 PX==================*/

@media screen and (min-width: 600px) {
  .main-pizza {
    background-size: 660px;
  }

  #title {
    letter-spacing: 4px;
    word-spacing: 5px;
    font-size: 36px;
  }
}

/*==================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 720 PX==================*/

@media screen and (min-width: 720px) {
  .main-pizza {
    background-size: 760px;
  }

  #title {
    font-size: 42px;
  }

  #description {
    font-size: 22px;
    padding: 20px 10px;
  }

  #description,
  .main-pizza,
  .form-group {
    padding: 30px 20px;
  }
}

/*===================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 900 PX===================*/
@media screen and (min-width: 900px) {
  .main-pizza {
    background-size: 980px;
    height: 200px;
  }

  #your-info,
  .p-style {
    font-size: 20px;
  }

  #title {
    font-size: 55px;
  }

  #description {
    font-size: 30px;
  }

  #dropdown {
    width: 400px;
    height: 25px;
    margin-bottom: 25px;
  }

  .submit-button {
    margin: 10px 0 80px;
  }
}

/*===================================================================*/
/*=================MEDIA QUERY / MIN-WIDTH 1200 PX===================*/
@media screen and (min-width: 1200px) {
  .main-pizza {
    background-size: 1280px;
  }

  #title {
    font-size: 70px;
    letter-spacing: 6px;
    word-spacing: 10px;
  }

  #description {
    font-size: 40px;
  }
}

/*===================================================================*/
/*=================MEDIA QUERY / MIN-WIDTH 1360 PX===================*/
@media screen and (min-width: 1360px) {
  #dropdown {
    width: 600px;
  }
}
/*===================================================================*/
/*===================================================================*/
