body {
  margin: 10px;
  box-sizing: border-box;
  background-image: url(images/pizza.jpg);
  background-repeat: repeat;
  font-family: "Imprima";
  text-transform: uppercase;
  text-align: center;
}

#description,
.form-group,
.main-pizza,
hr {
  margin: 10px 20px;
  max-width: 1360px;
}

#description,
.form-group,
.main-pizza,
.submit-button {
  border-radius: 10px;
}

#your-info,
#description,
.p-style {
  font-weight: bold;
}

#description,
.submit-button {
  background-color: rgba(245, 46, 46, 0.9);
}

/*==============================================================*/
/*========================HEADER STYLING========================*/

.main-pizza {
  background-color: rgb(28, 26, 34);
  background-image: url(images/image1.jpg);
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  color: whitesmoke;
  text-shadow: 2px 2px 2px rgb(245, 46, 46);
  letter-spacing: 2px;
  word-spacing: 3px;
}

/*==============================================================*/
/*====================DESCRIPTION STYLING=======================*/

#description {
  font-size: 18px;
  padding: 10px;
}

/*==============================================================*/
/*=========================FORM STYLING=========================*/

.form-group {
  padding: 20px 10px;
  background-color: rgba(42, 148, 68, 0.9);
}

/*============YOUR INFO SECTION============*/

input[type="text"],
input[type="email"],
input[type="number"] {
  max-width: 780px;
  margin-bottom: 5px;
}

#your-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 20px 10px;
}

/*=============DROPDOWN SECTION============*/

.p-style {
  margin: 0 0 15px;
}

#dropdown {
  width: 200px;
  margin-bottom: 15px;
}

/*============CHECKBOX SECTION============*/

.checks {
  display: flex;
  align-items: center;
}

.topping {
  width: 40px;
  height: 20px;
  margin-top: 2px;
  margin-right: 5px;
}

#sausage,
#roni,
#onion,
#mush,
#pepper,
#olive,
#pine,
#jala,
#bacon {
  background-size: 100px;
  background-position: center;
}

#sausage {
  background-image: url(images/image2.jpg);
}

#roni {
  background-image: url(images/image3.jpg);
}

#onion {
  background-image: url(images/image5.jpg);
}

#mush {
  background-image: url(images/image4.jpg);
}

#pepper {
  background-image: url(images/image6.jpg);
}

#olive {
  background-image: url(images/image7.jpg);
}

#pine {
  background-image: url(images/image8.jpg);
}

#jala {
  background-image: url(images/image9.jpg);
}

#bacon {
  background-image: url(images/image10.jpg);
}

/*============TEXT-AREA SECTION============*/

.input-textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  margin-right: 50px;
}

/*============SUBMIT BTN SECTION===========*/

.submit-button {
  width: 150px;
  height: 60px;
  margin: 10px 0 40px;
  padding: 5px 10px;
  font-size: 28px;
  color: whitesmoke;
  border: rgba(245, 46, 46, 0.9);
}

.submit-button:hover {
  cursor: pointer;
  background-color: rgba(11, 78, 31, 0.9);
  border: 2px solid rgba(11, 78, 31, 0.9);
}

/*===============================================================*/
/*===========================HR STYLING==========================*/

hr {
  border: 2px solid rgb(201, 36, 36);
}

/*==================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 480 PX==================*/

/*==================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 600 PX==================*/

/*==================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 720 PX==================*/

/*===================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 900 PX===================*/

/*===================================================================*/
/*=================MEDIA QUERY / MIN-WIDTH 1200 PX===================*/

/*===================================================================*/
/*=================MEDIA QUERY / MIN-WIDTH 1360 PX===================*/

/*===================================================================*/
/*===================================================================*/
