.main {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  height: auto;

  form {
    width: 100%;
    height: auto;
    @include flex-center-col;

    hr {
      width: 80%;
      height: 0.15rem;
      border: none;
      border-bottom: 0.2rem dotted $secondary-color;
    }
  }
}
