.toppings-section {
  width: 100%;
  height: 35rem;
  position: relative;

  .check-container {
    padding: 2rem;
    @include keep-it-hundo;
    @include absol-topLeftZero;
    @include flex-center-col;
    z-index: 3;

    @include tabletLandscape {
      & {
        width: calc(100% / 2);
        padding-right: 3rem;
        position: absolute;
        top: 0;
        left: 50%;
      }
    }

    .toppings-title {
      margin-bottom: 1rem;
      font-size: 2.2rem;

      @include phonePortrait {
        & {
          font-size: 2.5rem;
        }
      }

      @include tabletPortrait {
        & {
          font-size: 3rem;
        }
      }

      em {
        font-size: 1.5rem;

        @include tabletPortrait {
          & {
            font-size: 1.75rem;
          }
        }
      }
    }

    .check-wrapper {
      width: 100%;
      font-size: 2rem;
      @include flex-center;

      .group {
        width: auto;
        margin-right: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include tabletPortrait {
          & {
            font-size: 2.5rem;
          }
        }

        label {
          font-size: 1.75rem;

          @include tabletPortrait {
            & {
              font-size: 2rem;
            }
          }

          @include tabletPortraitLarge {
            font-size: 2.25rem;
          }
        }
      }
    }
  }

  .ingredients-img-box {
    @include keep-it-hundo;
    padding: 2rem;

    @include tabletLandscape {
      & {
        width: calc(100% / 2);
        padding-left: 4rem;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .ingredients-img {
      @include keep-it-hundo;
      object-fit: contain;
      opacity: 0.3;

      @include tabletLandscape {
        & {
          opacity: 1;
        }
      }
    }
  }
}
