// Imported Fonts - Harlow Italic

@font-face {
  font-family: "harlow-italic";
  src: url(../public/fonts/HARLOWSI.TTF);
}

// Imported Fonts - Century Gothic

@font-face {
  font-family: "century-gothic";
  src: url(../public/fonts/GOTHIC.TTF);
}

@font-face {
  font-family: "century-gothicbold";
  src: url(../public/fonts/GOTHICB.TTF);
}
